# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/
env/
.idea/
.vscode/

# Logs
*.log

# Byte-compiled / cache
*.egg-info/
.eggs/
*.sqlite3

# Node / frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
.next/
dist/
coverage/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock

#wavs
backend/app/media/

#temp
backend/app/temp/